/* Banner Styles */

#banner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 400px;  /* 设置最小高度 */
}

#banner {
    padding: 4em 0 !important;
    min-height: 400px;  /* 设置最小高度 */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .inner {
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h2 {
    font-size: 3.5vw;  /* 默认使用视窗宽度的相对单位 */
    line-height: 1.3;
    margin-bottom: 1em;
}

#banner h3 {
    font-size: 1.5vw;
    line-height: 1.5;
    margin-bottom: 0.5em;
    word-wrap: break-word;
    max-width: 100%;
    padding: 0 1em;
}

/* 移动设备的响应式设置 */
@media screen and (max-width: 768px) {
    #banner-container {
        min-height: 300px;
    }

    #banner {
        padding: 3em 0 !important;
        min-height: 300px;
    }

    #banner .inner {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    #banner h2 {
        font-size: 5.5vw;  /* 在移动设备上使用较小的固定像素大小 */
    }

    #banner h3 {
        font-size: 4vw;
        padding: 0 0.5em;
    }
}

/* 平板设备的响应式设置 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #banner-container {
        min-height: 350px;
    }

    #banner {
        padding: 4em 0 !important;
        min-height: 350px;
    }

    #banner h2 {
        font-size: 5.5vw;
    }

    #banner h3 {
        font-size: 2vw;
    }
}

